@charset "utf-8";

h2,h3{
	text-align: center;
}
main{
	margin-left: 50px;
}
table{
	border-collapse: collapse;
  	line-height: 10px;
  	text-align: left;
  	width: 500px;
}
table, th, td{
	border: 1px solid black;
}
th, td{
	padding: 5px;
}
#imli{
	font-size: 13px;
}