@charset "utf-8";
body {
	background: rgba(10,11,61,0.7);
}
h1{
	color: rgb(132, 215, 237);
	text-align: center;
	text-decoration: underline;
}

h4{
	text-decoration: underline;
}
.form-elm{
	color: rgb(131,207,226);
}
